<!DOCTYPE html>
<html lang="zh-CN" class="homepage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>翻译表</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var _hmt = _hmt || [];
    </script>
    <script type="text/javascript">
        function loadSelection(target) {
            var list = document.getElementById(target);
            var index = list.selectedIndex;
            return select = list[index].text;
        }

    </script>


</head>
<body class="home-template">
<header class="site-header">
    <!--<nav class="navbar" id="top"></nav>-->
    <div class="container jumbotron">
        <div class="row">
            <div class="col-xs-12">
                <h1>Translations Vote</h1>
                <p><strong>输入翻译文字</strong>
                </p>

                <form class="search-wraper" role="search" action="/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea maxlength="3000" id="searcharea" type="text" name="q" class="form-control" rows="3"
                                  cols="20"
                                  placeholder="搜索翻译文字，例如：what is jquery?" required>{{ source }}</textarea>
                        <i class="fa x fa-search onX"></i>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary" id="translate_button">翻译</button>
                    <a href="search/" class="btn btn-lg btn-default">搜索数据库</a>
                    <div class="pull-right">
                        <label>源语言：</label>
                        <select class="selectpicker" name="lang" value="loadSelection('lang')" id="lang">
                            <option value="en">英文</option>
                            <option value="zh">中文</option>
                        </select>
                        <label>目标语言：</label>
                        <select class="selectpicker" name="to" value="loadSelection('to')" id="to">
                            <!--<option value="en">英文</option>-->
                            <option value="zh">中文</option>
                            <option value="en">英文</option>
                        </select>
                        <label>类别：</label>
                        <select class="selectpicker" name="type" value="loadSelection('type')" id="type">
                            <option value="political">时政</option>
                            <option value="technology">科技</option>
                            <option value="medical">医疗</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mostused-keywords well well-sm text-center hidden-xs hidden-sm">
        <ul class="list-inline">
            <li>选择你认为最好的翻译，点击"选择"按钮进行选择</li>
        </ul>
    </div>
</header>
<main class="packages-list-container">
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li
            {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        {% if not_empty %}
        <ul class="list-group">
            {% if searched %}
            <strong>您输入的语句之前已经被翻译</strong>
            {% else %}
            <strong>您输入的语句之前没有人搜索过</strong>
            {% endif %}
            {% for tran in curr_trans_list %}
            <h1>{{ tran.trans_engine }}</h1>
            <li class="list-group-item">
                {{ tran.trans_output }}
                <a href="/{{ tran.id }}/">选择</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="navbar-text">投票选项不可用</p>
        {% endif %}
        <!-- </section> -->
    </div>
    <!--<footer id="footer" class="footer hidden-print">-->
    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="footer-about col-md-5 col-sm-12" id="about">-->
    <!--<h4>关于 Atman</h4>-->
    <!--<p>something-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="copy-right">-->
    <!--<span>DD/MM/YYYY</span>-->
    <!--</div>-->
    <!--</footer>-->
</main>
<a href="#" style="display: block;" class="pull-right">回到顶部</a>

</body>
</html>
