<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        function loadSelection(target) {
            var list = document.getElementById(target);
            var index = list.selectedIndex;
            return select = list[index].text;
        }
    </script>


    <script type="text/javascript">
      var datefield=document.createElement("input")
      datefield.setAttribute("type", "date")
      if (datefield.type!="date"){ //if browser doesn't support input type="date", load files for jQuery UI Date Picker
         document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"><\/script>\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"><\/script>\n')
      }

    </script>
    <script>
        if (datefield.type!="date"){ //if browser doesn't support input type="date", initialize date picker widget:
           jQuery(function($){ //on document.ready
               $('#start_date').datepicker({ dateFormat: 'yy-mm-dd' });
               $('#end_date').datepicker({ dateFormat: 'yy-mm-dd' });
           })
        }

    </script>
</head>
<body id="main_body">
<div class="container">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">搜索</div>
                <div class="panel-body">
                    <form id="search_form" role="search" action="/search/" method="POST">{% csrf_token %}
                        <input type="hidden" name="contentCount" value="1"/>
                        <div class="form-group">
                            <label for="content-1">搜索engine(s)</label>
                            <select class="form-control" name="engine" value="loadSelection('engine')" id="engine">
                                <option value="google">Google</option>
                                <option value="baidu">百度</option>
                                <option value="youdao">有道</option>
                                <option value="bing">Bing</option>
                                <option value="atman">Atman</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="input-StartDate-1">启始时间</label>
                            <input id="start_date" type="date" class="form-control"
                                   name="start_time"
                                   value="{{start_time}}" required>
                        </div>

                        <div class="form-group">
                            <label for="input-EndDate-1">结束时间</label>
                            <input id="end_date" type="date" class="form-control" name="end_time"
                                   value="{{end_time}}" required>
                        </div>

                        <button type="submit" class="btn btn-default">搜索</button>
                        <a href="/" class="btn btn-default">回到翻译界面</a>
                    </form>
                </div><!-- END panel-body -->
            </div><!-- END panel -->
        </div><!-- END panel-group -->
    </div><!-- END row -->
</div><!-- END container -->

<div id="loadingdiv">{% load static %}
    <img src="{% static 'ajax-loader.gif' %}" class="img-responsive center-block">
    <p class="text-center">Searching...</p>
</div>
<div class="col-md-10 col-md-offset-1" id="show_search_results">
</div>


<script type="text/javascript">
        var curr_page = 1;
        $('#search_form').on('submit', function(event){
            event.preventDefault();
            console.log('form submit')
            change_page(curr_page);
        });
        $('.col-md-10').on("click", ".last_page", function(event) {
            event.preventDefault();
            curr_page -= 1;
            change_page(curr_page);
        });
        $('.col-md-10').on("click", ".next_page", function(event) {
            event.preventDefault();
            console.log('next page');

            curr_page += 1;
            change_page(curr_page);
        });

        function change_page(page){
            $.ajax({
                url: "/search/",
                type: "POST",
                data:{
                        'engine': $('#engine').val(),
                        'start_time': $('#start_date').val(),
                        'end_time': $('#end_date').val(),
                        'page': page,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    $('#show_search_results').html(data)
                }

            });
        }


</script>

<script>
    var $loading = $('#loadingdiv').hide();
    $(document)
        .ajaxStart(function(){
            $loading.show();
        })
        .ajaxStop(function(){
            $loading.hide();
        })
    ;

</script>
</body>
</html>
